[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akshay2985
[access "refs/for/refs/*"]
	read = group user/akshay2985
	push = group user/akshay2985
	label-Code-Review = -2..+2 group user/akshay2985
	label-Verified = -1..+1 group user/akshay2985
	rebase = group user/akshay2985
	removeReviewer = group user/akshay2985
	submit = group user/akshay2985
[access "refs/heads/*"]
	read = group user/akshay2985
	create = group user/akshay2985
	push = +force group user/akshay2985
	pushMerge = group user/akshay2985
[access "refs/tags/*"]
	push = +force group user/akshay2985
	pushTag = group user/akshay2985
	pushSignedTag = group user/akshay2985
